
@{
    ViewData["Title"] = "Member";
}

<h1>Member</h1>
<div class="row">
    <div class="col-9">
        <h3 class="text-center">會員清單</h3>
        <table id="tableMember" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>姓名</th>
                    <th>Email</th>
                    <th>年紀</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <div class="col-3">
        <h3 class="text-center">會員新增</h3>
        <form id="memberForm">
            <div class="mb-3">
                <label for="InputName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="InputName" name="name">
                <div id="nameHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="InputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="InputEmail" name="email">
            </div>
            <div class="mb-3">
                <label for="InputPassword" class="form-label">密碼</label>
                <input type="password" class="form-control" id="InputPassword" name="password">
            </div>
            <div class="mb-3">
                <label for="InputPassword1" class="form-label">密碼確認</label>
                <input type="password" class="form-control" id="InputPassword1" name="password1">
            </div>
            <div class="mb-3">
                <label for="InputAge" class="form-label">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="age">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">頭像</label>
                <input class="form-control" type="file" id="formFile" name="file">
            </div>
            <button type="submit" class="btn btn-primary" id="buttonSubmit">註冊</button>
        </form>

    </div>
</div>

@section Scripts{
    <script>
        const btnSubmit = document.querySelector('#buttonSubmit');
        const frmMember = document.querySelector('#memberForm');
        const tbMember = document.querySelector('#tableMember>tbody');
        const apiUrl = 'https://localhost:7194/api/members'; 

        //會員資料讀取
        const loadMembers = async()=>{
           const response = await fetch(apiUrl);
           const datas = await response.json();

           const rows = datas.map(member=>{
               const {memberId, name, email, age, fileName} = member;
               return(
                   `
                   <tr>
                      <td><img src="https://localhost:7194/avatars/${fileName}" style="width:80px" /> </td>
                      <td>${name}</td>
                      <td>${email}</td>
                      <td>${age}</td>
                      <td>
                         <button type="button" class="btn btn-primary">修改</button>
                         <button type="button" class="btn btn-danger" onclick="deleteMember(${memberId})"><i class="bi bi-trash3-fill"></i></button>
                      </td>
                   </tr>                   
                   
                   `
               )
           })

           tbMember.innerHTML = rows.join('');

        }
        loadMembers();


        //會員新增
        btnSubmit.addEventListener('click',async(event)=>{
          event.preventDefault(); //停止Submit行為

          const formData = new FormData(frmMember);

          const response = await fetch(apiUrl,{
              method:'POST',
              body:formData
          });

          if(response.ok){
              alert('新增成功');
              loadMembers();
              frmMember.reset();
          }



        })
   
        //會員刪除
        const deleteMember = async(id)=>{
            if(!window.confirm('真的要刪除嗎?')) return;

            const response = await fetch(`${apiUrl}/${id}`,{
                method:'DELETE'
            })
            if(response.ok){
                alert('刪除成功');
                loadMembers();
            }
        }
           
     </script>
}

